.likeButton {
  border: none;
  background: transparent;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  filter: drop-shadow(0 0 0.75rem gray);
}

.likeButton:hover {
  color: gray;
}
